############################
# Gradle
############################
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
HELP.MD

############################
# IntelliJ IDEA
############################
.idea/
*.iml
*.iws
*.ipr
out/

############################
# Spring Tool Suite (STS)
############################
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
bin/

############################
# VS Code
############################
.vscode/

############################
# Logs & env
############################
logs/
*.log
.env
.env.*

############################
# OS junk
############################
.DS_Store
Thumbs.db

############################
# Project assets (local only)
############################
KakaoTalk_Photo_*.png