spring:
  ai:
    openai:
      api-key: ${OPENAI_API_KEY}
      base-url: https://api.openai.com/v1
      chat:
        options:
          model: ${OPENAI_MODEL:gpt-4o-mini}
    ollama:
      base-url: ${OLLAMA_URL:http://localhost:11434}
      embedding:
        model: bge-m3
    vectorstore:
      qdrant:
        host: ${QDRANT_HOST:localhost}
        port: 6334
        use-tls: false
        collection-name: prompts
        initialize-schema: false

server:
  port: 8080
  error:
    include-message: always
  forward-headers-strategy: native
